
@{
    ViewBag.Title = "Monitor";
}
@section scripts{

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/server.js"></script>
    <script type="text/javascript">

        var monitor;

        $(function () {
            monitor = $.connection.monitor;
            $.connection.hub.start();

            monitor.client.newEvent = onNewEvent;
        });

        function onNewEvent(eventType, client) {
            $('#messages').append('<li>'+ eventType + ' from:' + client + '</li>')
        };



    </script> 
}

<h2>Monitor</h2>
<div>
    <h2>SignalR Monitor</h2>
    <ul id="messages"></ul>
</div>

